.download {
  color: #ffffff;
}

.download__grid-container--col {
  @media (min-width:$tablet-width) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-top: 75px;
    padding: 0px 20px 120px 20px;
    min-width: 650px;
    background-image: url('../img/iphone-hand-tablet@1x.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: auto 100%;
  }

  @media (min-width:$desktop-width) {
    grid-template-columns: auto 1fr;
    max-width: 960px;
    padding: 0px 10px 130px 10px;
    margin: 0 auto;
    margin-top: 100px;
    background-image: url('../img/iphone-hand-desktop@1x.png');
    background-repeat: no-repeat;
    // background-position: 46% 100%;
  }
}

.download__slogan {
  margin: 0;
  font-weight: lighter;
  line-height: 1.2;

  &--top {
    font-size: 24px;
    line-height: 1.2;
    text-align: center;
    margin-top: 29px;
    padding-bottom: 39px;
    @media (min-width:$tablet-width) {
      display: none;
    }
  }

  &--bot {
    font-size: 40px;
    margin-bottom: 40px;

    @media (max-width:$tablet-width) {
      display: none;  
    }
  }
}

.download__img {
  width: 320px;
  height: 100%;
  display: block;
  margin: 0 auto;

  @media (min-width:$tablet-width) {
    display: none;
  }
}

.download__container {
  background-color: #1D2631;
  padding-top: 30px;
  padding-bottom: 40px;

  @media (min-width:$tablet-width) {
    background-color: inherit;
    padding-top: 28px;
    padding-bottom: 0px;
  }

  @media (min-width:$desktop-width) {
    padding-top: 16px;
  }
}

.download__container a {
  color: #ffffff;
}

.download__inner-container {
  text-align: center;
  min-width: 200px;
  max-width: 280px;
  margin: 0 auto;

  @media (min-width:$tablet-width) {
    max-width: 300px;
  }
}

.button {
  border: 3px solid #ffffff;
  box-sizing: border-box;
  border-radius: 30px;
  padding: 20px 0;
}

.download__button {
  display: block;
  font-weight: bold;
  line-height: 1;
  margin: 0 auto;
  margin-bottom: 32px;
  padding: 12px 32px;
  text-decoration: none;
  
  &:hover {
    color: $pink;
    background-color: #ffffff;
    border: 3px solid $pink;
  }

  &:active {
    color: rgba($pink, 30%);
    background-color: #ffffff;
    border: 3px solid rgba($pink, 30%);
  }

  @media (max-width:$mobile-width-only) {
    max-width: 280px;
  }
}

.download__legend {
  margin: 0;
}

.download__platform {
  display: flex;
  justify-content: space-evenly;
  align-items: baseline;
  flex-wrap: wrap;
}

.download__legend {
  font-size: 14px;
  line-height: 24px;
  font-weight: lighter;
  padding-top: 28px;  

  @media (min-width:$tablet-width) {
    font-size: 18px;
  }
}
