.photo {
  // .photo__filter

  &__filter {
  }

  // .photo__container

  &__container {
  }
}

.filter {
  // .filter__wrapper

  &__wrapper {
    background-color: #f2f2f2;
  }

  // .filter__box

  &__box {
    position: relative;

    display: flex;
    flex-direction: column;
    align-items: center;

    padding-top: 20px;

    @media (max-width: $mobile-width-only) {
      &::after {
        position: absolute;
        content: '';

        bottom: 200px;

        height: 1px;
        width: 100%;

        background: #283645;
        opacity: 0.1;
      }
    }

    @media (min-width: $tablet-width) {
      flex-direction: row;
      justify-content: center;
      align-items: flex-start;

      padding: 55px 0;
    }
  }

  // .filter__img-box

  &__img-box {
    margin-bottom: 40px;

    @media (min-width: $tablet-width) {
      margin-right: 50px;
      margin-bottom: 0;
    }
  }

  // .filter__img

  &__img {
    object-fit: cover;

    max-height: 400px;
    max-width: 300px;

    width: 100%;

    @media (min-width: $tablet-width) {
      min-height: 400px;
      min-width: 300px;
    }
  }

  // .filter__settings-box

  &__settings {
    @media (max-width: $mobile-width-only) {
      width: 100%;
    }
  }

  // .filter__settings-box

  &__settings-box {
    margin-bottom: 67px;
  }

  // .filter__settings-box--mobile

  &__settings-box--mobile {
    @media (min-width: $tablet-width) {
      display: none;
    }
  }

  &__settings-box--tablet {
    @media (max-width: $mobile-width-only) {
      display: none;
    }
  }

  // .filter__settings-list

  &__settings-list {
    display: flex;
    justify-content: center;
    align-items: center;

    padding: 0;
    margin: 0;
    margin-bottom: 30px;

    list-style: none;

    @media (min-width: $tablet-width) {
      flex-direction: column;
    }
  }

  // .filter__settings-item

  &__settings-item {
    position: relative;

    margin-right: 35px;

    &:last-child {
      margin-right: 0;
    }

    & button {
      padding: 0;

      border: none;

      background-color: inherit;

      cursor: pointer;
    }

    @media (min-width: $tablet-width) {
      box-sizing: border-box;

      position: relative;

      max-width: 275px;
      width: 100%;

      display: flex;
      align-items: center;
      justify-content: space-between;

      margin-right: 0;

      padding: 25px 18px 26px 0;

      // padding-right: 18px;

      border-bottom: 1px solid rgba(40, 54, 69, 0.1);

      & svg {
        margin-right: 30px;
      }

      & .filter__svg-dia {
        padding-left: 4px;
      }
    }
  }

  // .filter__settings-crop

  &__settings-crop {
    @media (min-width: $tablet-width) {
      padding-top: 10px;
    }
  }

  // .filter__settings-radio

  &__settings-radio {
    & + label {
      & svg {
        & path,
        rect {
          fill: rgba(40, 54, 69, 0.3);
        }
      }
    }

    & + label:hover,
    label:focus {
      & svg {
        & path,
        rect {
          fill: rgba(40, 54, 69, 0.5);
        }
      }
    }

    &:checked + label {
      & svg {
        & path,
        rect {
          fill: $pink;
        }
      }
    }
  }

  // .filter__settings-title1

  &__settings-title1 {
    & svg {
      width: 44px;
      height: 44px;
    }
  }

  // .filter__settings-title12

  &__settings-title12 {
    & svg {
      width: 48px;
      height: 43px;
    }
  }

  // .filter__settingstitle13

  &__settings-title13 {
    & svg {
      width: 32px;
      height: 32px;
    }
  }

  // .filter__controls

  &__controls {
    position: relative;

    width: 240px;
    height: 10px;

    margin: 0 auto;
    padding-top: 6px;

    @media (min-width: $tablet-width) {
      width: 204px;
      margin: 0;
    }
  }

  // .filter__scale

  &__scale {
    height: 2px;

    background-color: #283645;
  }

  // .filter__toggle

  &__toggle {
    box-sizing: border-box;
    cursor: pointer;

    position: absolute;
    top: 0;

    width: 14px;
    height: 14px;

    border: 2px solid $pink;
    border-radius: 50%;

    background-color: #ffffff;

    &:active {
      background-color: $pink;
    }
  }

  // .filter__box-btn

  &__box-btn {
    display: flex;
    flex-direction: column;
    align-items: center;

    margin-bottom: 40px;

    @media (min-width: $tablet-width) {
      margin-bottom: 0;
    }
  }

  // .filter__btn

  &__btn {
    max-width: 280px;
    width: 100%;
  }

  // .filter__btn

  &__btn {
    font-weight: 700;
    line-height: 18px;

    padding: 16px 0;
  }

  // .filter__btn--sub

  &__btn--sub {
    cursor: pointer;

    font-weight: 700;
    line-height: 18px;

    color: $pink;
    border-color: $pink;

    margin-bottom: 12px;

    &:hover {
      color: #ffffff;
      background-color: $pink;
    }

    &:active {
      color: rgba(255, 255, 255, 30%);
      background-color: $pink;
    }

    @media (min-width: $tablet-width) {
      margin-bottom: 23px;
    }
  }

  // .filter__btn--res

  &__btn--res {
    &:disabled {
      color: #283645;

      opacity: 0.1;
      border-color: #283645;
    }
  }
}
