.photo__container {
  padding: 0 20px;

  @media (min-width: $desktop-width) {
    max-width: 960px;

    margin: 0 auto;
    padding: 0 10px;
  }
}

.photo {
  // .photo__subtitle-box

  &__subtitle-box {
    padding-top: 48px;
    margin-bottom: 52px;

    @media (min-width: $tablet-width) {
      padding-top: 95px;
      margin-bottom: 80px;
    }

    @media (min-width: $desktop-width) {
      padding-top: 95px;
      margin-bottom: 90px;
    }
  }

  // .photo__subtitle

  &__subtitle {
    font-weight: 400;

    margin: 0;

    @media (min-width: $tablet-width) {
      font-size: 18px;
    }
  }

  // .photo__best

  &__best {
    position: relative;
    margin-bottom: 20px;
  }

  // .photo__best-icon-box

  &__best-icon-box {
    position: relative;
  }

  // .photo__best-icon

  &__best-icon {
    display: inline-block;
    position: absolute;

    right: 0;
    top: 0;

    font-size: 12px;
    line-height: 24px;
    font-weight: 700;
    text-transform: uppercase;
    padding: 8px 20px;

    color: #ffffff;

    background-color: $pink;

    @media (min-width: $tablet-width) {
      &::after {
        top: 60px;
      }
    }
  }

  // .photo__best-img

  &__best-img {
    display: block;

    object-fit: cover;

    width: 100%;
    height: 140px;

    @media (min-width: $tablet-width) {
      height: 510px;
    }
  }

  // .photo__item-best

  &__item-best {
    // Доделать абсолютное position
    // &::after {
    //   display: inline-block;
    //   position: absolute;
    //   content: 'Панорама дня';
    //   color: #ffffff;
    //   text-transform: uppercase;
    //   font-size: 12px;
    //   line-height: 24px;
    //   font-weight: 700;
    //   padding: 8px 20px;
    //   top: 0;
    //   right: 20px;
    //   background-color: $pink;
    // }

    // @media (min-width: $tablet-width) {
    //   &::after {
    //     top: 60px;
    //   }
    // }
  }

  // .photo__list

  &__list {
    margin: 0;
    padding: 0;
    list-style: none;

    @media (min-width: $tablet-width) {
      display: flex;
      flex-wrap: wrap;
    }
  }

  // .photo__item

  &__item {
    margin-bottom: 20px;

    background-color: #f2f2f2;

    &:last-child {
      // margin-bottom: 0;
    }

    @media (min-width: $tablet-width) {
      flex: 1 1 300px;
    }

    @media (min-width: 660px) {
      margin-right: 20px;
    }

    @media (max-width: 979px) {
      &:nth-child(2n) {
        margin-right: 0;
      }
    }

    @media (min-width: 980px) {
      &:nth-child(3n) {
        margin-right: 0;
      }
    }
  }

  // .photo__comment

  &__comment {
    position: relative;

    box-sizing: border-box;

    font-size: 14px;
    font-weight: 400;
    line-height: 24px;

    padding: 20px 14px;
    margin: 0;

    background-color: #f2f2f2;

    @media (min-width: $tablet-width) {
      min-height: 155px;

      padding: 25px 34px;
    }
  }

  // .photo__comment--best

  &__comment--best {
    @media (min-width: $tablet-width) {
      min-height: auto;

      & .photo__like {
        top: 24px;
        right: 25px;
        width: 21.5%;
      }

      & .photo__author-quote {
        margin-bottom: 0;
      }
    }

    @media (min-width: $desktop-width) {
      & .photo__like {
        top: 24px;
        right: 44px;
        width: 14%;
      }
    }
  }

  // .photo__img

  &__img {
    display: block;

    object-fit: cover;

    width: 100%;

    min-height: 180px;
    max-height: 300px;

    @media (min-width: $tablet-width) {
      height: 100%;
      max-height: 300px;
    }

    @media (min-width: $desktop-width) {
      max-height: 400px;
    }
  }

  // .photo__authot-name

  &__authot-name {
    font-weight: 700;
    font-style: normal;
  }

  // .photo__author-time

  &__author-time {
    font-weight: 300;
    text-transform: uppercase;
  }

  // .photo__author-quote

  &__author-quote {
    margin: 0;
    margin-bottom: 17px;

    @media (min-width: 360px) {
      & br {
        display: none;
      }
    }
  }

  // .photo__like

  &__like {
    margin: 0;

    color: $pink;
    text-transform: uppercase;

    &::before {
      content: url('../img/icon-heart.svg');
      width: 13px;
      height: 12px;
      margin-right: 18px;
      vertical-align: middle;
    }

    @media (min-width: $tablet-width) {
      display: flex;
      flex-direction: row-reverse;
      justify-content: space-between;

      position: absolute;

      bottom: 24px;

      width: 80%;

      &::before {
        margin: 0;
      }
    }
  }

  // .photo__footer

  &__footer {
  }

  // .photo__footer-box

  &__footer-box {
    padding-top: 40px;
    padding-bottom: 40px;

    @media (min-width: $tablet-width) {
      padding-bottom: 0;
      margin-bottom: 70px;
    }
  }

  // .photo__footer-slogan

  &__footer-slogan {
    font-size: 14px;
    font-weight: 400;
    line-height: 30px;

    margin: 0;

    text-align: center;

    @media (min-width: $tablet-width) {
      font-size: 18px;
    }
  }
}
