.popup {
  // .popup__valid

  &__valid {
    position: absolute;

    text-align: center;

    background-color: #ffffff;
    border-radius: 2px;
    box-shadow: 0px 7px 15px rgba(0, 1, 1, 0.15);

    width: 100%;

    @media (min-width: $tablet-width) {
      max-width: 460px;
    }

    @media (min-width: $desktop-width) {
      max-width: 780px;
    }
  }

  // .popup__valid-box

  &__valid-box {
    padding: 0 20px;

    @media (min-width: $tablet-width) {
      padding: 0 70px;
    }
  }

  // .popup__succes

  &__succes {
    top: 1900px;
    display: none;
    left: 50%;
    transform: translate(-50%, -50%);

    &--hidden {
      display: block;
    }

    @media (min-width: $tablet-width) {
      top: 1635px;
    }

    @media (min-width: $desktop-width) {
      top: 1275px;
    }
  }

  // .popup__title

  &__title {
    line-height: 24px;
    color: #000;

    padding: 0;
    margin: 0;

    padding-top: 40px;
    margin-bottom: 34px;

    @media (max-width: $mobile-width-only) {
      & br {
        display: none;
      }
    }

    @media (min-width: $tablet-width) {
      font-size: 30px;
      line-height: 40px;
      margin-bottom: 30px;
    }

    @media (min-width: $desktop-width) {
      & br {
        display: none;
      }
    }
  }

  // .popup__text

  &__text {
    font-size: 14px;
    line-height: 24px;

    margin: 0;
    margin-bottom: 36px;

    @media (max-width: calc($desktop-width - 1px)) {
      & br {
        display: none;
      }
    }

    @media (min-width: $tablet-width) {
      font-size: 18px;
      line-height: 24px;
    }
  }

  &__succes-text {
    @media (min-width: $desktop-width) {
      & br {
        display: none;
      }
      width: 59.4615384615%;
      margin-left: auto;
      margin-right: auto;
    }
  }

  // .popup__button

  &__button {
    max-width: 276px;
    width: 100%;

    @media (min-width: $tablet-width) {
      max-width: 295px;
    }

    @media (min-width: $desktop-width) {
      max-width: 456px;
    }
  }

  // .popup__failed

  &__failed {
    top: 1425px;
    display: none;
    left: 50%;
    transform: translate(-50%, -50%);

    &--hidden {
      display: block;
    }

    @media (min-width: $tablet-width) {
      top: 1165px;
    }

    @media (min-width: $desktop-width) {
      top: 820px;
    }
  }

  // .popup__failed-text

  &__failed-text {
    margin-bottom: 45px;

    @media (min-width: $tablet-width) {
      margin-bottom: 40px;
    }

    @media (min-width: $desktop-width) {
      margin-bottom: 64px;
    }
  }

  // .popup__button-failed

  &__button-failed {
    @media (min-width: $desktop-width) {
      max-width: 296px;
    }
  }

  // .popup__button-box

  &__button-box {
    padding: 52px 20px;
    margin: 0;
  }

  &__button-box--succes {
    background-color: #f2f2f2;
  }

  &__button-box--failed {
    @media (max-width: calc($desktop-width - 1px)) {
      padding-top: 0;
    }

    @media (min-width: $desktop-width) {
      background-color: #f2f2f2;
    }
  }
}
