.reviews {
  margin-bottom: 40px;
  // .reviews__wrapper

  &__wrapper {
    position: relative;
    padding: 44px 20px 0 20px;

    @media (min-width:$tablet-width) {
      padding-top: 109px;
    }

    @media (min-width:$desktop-width) {
      padding: 72px 10px 0 10px;
    }

  }

  // .reviews__list

  // &__list {

  // }

  // .reviews__item

  &__item {
    margin: 0;
    text-align: center;
  }

  // .reviews__author

  &__author {
    display: flex;
    flex-direction: column;

    @media (min-width:$tablet-width) {
      flex-direction: column-reverse;
    }

    & br {
      display: none;
    }
  }

  // .reviews__author-info

  &__author-info {
    margin-bottom: 23px;
  }

  // .reviews__author-name

  &__author-name {
    display: inline-flex;
    font-weight: bold;
    font-style: normal;
    line-height: 30px;
    color: #000000;
    margin: 0;

    @media (min-width:$tablet-width) {
      font-size: 20px;
      margin-bottom: 10px;
    }

    @media (min-width:$desktop-width) {
      font-size: 24px;
    }
  }

  // .reviews__author-info

  &__author-age {
    font-size: 14px;
    margin: 0;

    @media (max-width:$mobile-width-only) {
      display: none;
    }

    @media (min-width:$desktop-width) {
      font-size: 18px;
    }
  }

  // .reviews__author-text

  &__author-text {
    align-self: center;
    font-size: 14px;
    line-height: 30px;
    max-width: 700px;
    margin: 0;

    @media (min-width:$tablet-width) {
      font-size: 18px;
      margin-bottom: 44px;
    }

    @media (min-width:$desktop-width) {
      &::before {
        display: block;
        content: '';
        margin: 0 auto;
        margin-bottom: 55px;
        width: 79px;
        height: 63px;
        background-color: #efefef;
        mask-image: url("../img/icon-quotes.svg");
        // content: url("../img/icon-quotes.svg");
        // width: 79px;
        // height: 63px;
      }
    }
  }
}
