.site-list {
  font-weight: bold;
}

.site-list a {
  position: relative;
  display: block;
  padding: 25px 20px;
  font-size: 18px;
  line-height: 32px;
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
  background-color: #283645;
  border-top: 1px solid rgba(#ffffff, 10%);
  border-bottom: 1px solid #000000;

  @media (min-width: $desktop-width) {
    text-transform: none;
    padding: 30px 39px;
    font-weight: normal;
    line-height: 1;
    background-color: inherit;
    border: none;
  }
}

@media (min-width: $desktop-width) {
  .site-list {
    margin: 16px 0;
    width: auto;
  }
}

.site-list__item a[href] {
  transition: 0.2s ease-in;

  &:hover {
    color: $pink;
    animation: hover-link 0.2s ease-in;
    transition: 0.2s ease-in;
  }

  @media (max-width: $desktop-width) {
    &:active {
      color: rgba($pink, 30%);
    }
  }

  @media (min-width: $desktop-width) {
    &:active {
      color: rgba(#ffffff, 30%);
    }
  }
}

@media (min-width: $desktop-width) {
  .site-list__item--active {
    border-bottom: 2px solid #ffffff;
  }
}
