@charset "UTF-8";
/* open-sans-300 - latin_cyrillic */
@font-face {
  font-family: "Open Sans";
  font-style: lighter;
  font-weight: 300;
  font-display: swap;
  src: url("../fonts/opensanslight.woff2") format("woff2"), url("../fonts/opensanslight.woff") format("woff");
  /* Modern Browsers */
}
/* open-sans-regular - latin_cyrillic */
@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("../fonts/opensans.woff2") format("woff2"), url("../fonts/opensans.woff") format("woff");
  /* Modern Browsers */
}
/* open-sans-700 - latin_cyrillic */
@font-face {
  font-family: "Open Sans";
  font-style: bold;
  font-weight: 700;
  font-display: swap;
  src: url("../fonts/opensansbold.woff2") format("woff2"), url("../fonts/opensansbold.woff") format("woff");
  /* Modern Browsers */
}
img {
  max-width: 100%;
  height: auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.page {
  height: 100%;
  font-size: 18px;
  font-family: "Open Sans", "Arial", sans-serif;
  line-height: 24px;
}

.page__body {
  min-height: 100%;
  margin: 0;
  color: #283645;
}

.page__main {
  position: relative;
}

.page-header {
  position: relative;
}
@media (max-width: 649px) {
  .page-header {
    background-color: #1d2631;
    background-image: url("../img/bg-back-mobile@2x.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
}
@media (min-width: 650px) {
  .page-header {
    background-color: #1d2631;
    background-image: url("../img/bg-back-tablet@2x.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
}
@media (min-width: 1200px) {
  .page-header {
    background-color: #1d2631;
    background-image: url("../img/bg-back-desktop@2x.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
}

.page-header__container {
  background-color: rgba(0, 0, 0, 0.3);
  width: auto;
}

.page-header__wrapper {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}
@media (min-width: 1200px) {
  .page-header__wrapper {
    flex-direction: row;
    max-width: 960px;
    margin: 0 auto;
    padding: 0px 10px;
  }
}

@media (min-width: 1200px) {
  .page-header__logo {
    padding-top: 27px;
  }
}

.page-header__logo .page-header__logo--svg {
  width: 74px;
  height: 23px;
  fill: #ffffff;
}

.page-header__logo:hover .page-header__logo--svg {
  opacity: 1;
}
.page-header__logo:hover .page-header__logo--svg path {
  fill: #d22856;
}
.page-header__logo:active .page-header__logo--svg {
  opacity: 0.3;
  path-fill: #ffffff;
}

.page-header__menu {
  display: flex;
  justify-content: space-between;
  padding: 21px 20px;
}
@media (min-width: 650px) {
  .page-header__menu {
    padding: 43px 20px;
  }
}
@media (min-width: 1200px) {
  .page-header__menu {
    padding: 0;
  }
}

.page-header__toggle {
  position: relative;
  display: block;
  width: 23px;
  height: 23px;
  background-color: transparent;
  border: none;
  cursor: pointer;
}
@media (min-width: 1200px) {
  .page-header__toggle {
    display: none;
  }
}

.page-header__menu--closed .page-header__toggle {
  width: 50px;
}

.page-header__menu--closed .page-header__toggle::before {
  content: "";
  position: absolute;
  right: 0;
  top: 0;
  height: 4px;
  width: 50px;
  border-radius: 1px;
  background-color: #ffffff;
  box-shadow: 0 8px 0 0 #ffffff, 0 16px 0 0 #ffffff;
}
@media (min-width: 650px) {
  .page-header__menu--closed .page-header__toggle::before {
    top: 0px;
  }
}

.page-header__menu--closed .page-header__toggle:hover::before {
  background-color: #d22856;
  box-shadow: 0 8px 0 0 #d22856, 0 16px 0 0 #d22856;
}
.page-header__menu--closed .page-header__toggle:active::before {
  background-color: rgba(210, 40, 86, 0.3);
  box-shadow: 0 8px 0 0 rgba(210, 40, 86, 0.3), 0 16px 0 0 rgba(210, 40, 86, 0.3);
}

@media (max-width: 1200px) {
  .page-header__menu--opened {
    background-color: #283645;
    border-bottom: 1px solid #000000;
  }
}

.page-header__menu--opened .page-header__toggle {
  top: 0;
  right: auto;
  left: 0;
}
.page-header__menu--opened .page-header__toggle::before, .page-header__menu--opened .page-header__toggle::after {
  content: "";
  position: absolute;
  top: 11px;
  left: 0;
  width: 23px;
  height: 2px;
  background-color: #ffffff;
}
.page-header__menu--opened .page-header__toggle::before {
  transform: rotate(45deg);
}
.page-header__menu--opened .page-header__toggle::after {
  transform: rotate(-45deg);
}
.page-header__menu--opened .page-header__toggle:hover::before, .page-header__menu--opened .page-header__toggle:hover::after {
  background-color: #d22856;
}
.page-header__menu--opened .page-header__toggle:active::before, .page-header__menu--opened .page-header__toggle:active::after {
  background-color: rgba(210, 40, 86, 0.3);
}

@media (min-width: 1200px) {
  .page-header__wrapper {
    min-height: 110px;
  }
}
.page-header__menu--nojs .page-header__toggle {
  display: none;
}

.inner-title {
  overflow: hidden;
  min-width: 320px;
  box-sizing: border-box;
  padding: 0 20px;
  padding-top: 30px;
  text-align: center;
}
@media (min-width: 650px) {
  .inner-title {
    padding-top: 70px;
  }
}
@media (min-width: 1200px) {
  .inner-title {
    max-width: 960px;
    margin: 0 auto;
    padding: 0 10px;
    padding-top: 65px;
  }
}
.inner-title__text {
  margin: 0;
  margin-bottom: 45px;
  font-size: 24px;
  line-height: 33px;
  font-weight: 300;
  color: #ffffff;
}
@media (min-width: 650px) {
  .inner-title__text {
    font-size: 50px;
    line-height: 68px;
    margin-bottom: 65px;
  }
}
@media (min-width: 1200px) {
  .inner-title__text {
    margin-bottom: 95px;
  }
  .inner-title__text br {
    display: none;
  }
}

.photo-title__text br {
  display: inline;
}

.main-nav {
  position: relative;
  min-height: 63px;
}
@media (min-width: 1200px) {
  .main-nav {
    max-width: 74%;
  }
}

.main-nav__list {
  margin: 0;
  padding: 0;
  list-style: none;
}
@media (min-width: 1200px) {
  .main-nav__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    flex-grow: 1;
  }
}

.main-nav__list a {
  color: #ffffff;
}

@media (max-width: 1199px) {
  .main-nav--closed {
    display: none;
  }
}
.site-list {
  font-weight: bold;
}

.site-list a {
  position: relative;
  display: block;
  padding: 25px 20px;
  font-size: 18px;
  line-height: 32px;
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
  background-color: #283645;
  border-top: 1px solid rgba(255, 255, 255, 0.1);
  border-bottom: 1px solid #000000;
}
@media (min-width: 1200px) {
  .site-list a {
    text-transform: none;
    padding: 30px 39px;
    font-weight: normal;
    line-height: 1;
    background-color: inherit;
    border: none;
  }
}

@media (min-width: 1200px) {
  .site-list {
    margin: 16px 0;
    width: auto;
  }
}
.site-list__item a[href] {
  transition: 0.2s ease-in;
}
.site-list__item a[href]:hover {
  color: #d22856;
  -webkit-animation: hover-link 0.2s ease-in;
          animation: hover-link 0.2s ease-in;
  transition: 0.2s ease-in;
}
@media (max-width: 1200px) {
  .site-list__item a[href]:active {
    color: rgba(210, 40, 86, 0.3);
  }
}
@media (min-width: 1200px) {
  .site-list__item a[href]:active {
    color: rgba(255, 255, 255, 0.3);
  }
}

@media (min-width: 1200px) {
  .site-list__item--active {
    border-bottom: 2px solid #ffffff;
  }
}
.download {
  color: #ffffff;
}

@media (min-width: 650px) {
  .download__grid-container--col {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-top: 75px;
    padding-top: 120px;
    min-width: 650px;
    background-image: url("../img/iphone-hand-tablet@1x.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: auto 100%;
  }
}
@media (min-width: 1200px) {
  .download__grid-container--col {
    grid-template-columns: auto 1fr;
    max-width: 960px;
    padding: 0px 10px 130px 10px;
    margin: 0 auto;
    margin-top: 100px;
    background-image: url("../img/iphone-hand-desktop@1x.png");
    background-repeat: no-repeat;
  }
}

.download__slogan {
  margin: 0;
  font-weight: lighter;
  line-height: 1.2;
}
.download__slogan--top {
  font-size: 24px;
  line-height: 1.2;
  text-align: center;
  margin-top: 29px;
  padding-bottom: 39px;
}
@media (min-width: 650px) {
  .download__slogan--top {
    display: none;
  }
}
.download__slogan--bot {
  font-size: 40px;
  margin-bottom: 40px;
}
@media (max-width: 650px) {
  .download__slogan--bot {
    display: none;
  }
}

.download__img {
  width: 320px;
  height: 100%;
  display: block;
  margin: 0 auto;
}
@media (min-width: 650px) {
  .download__img {
    display: none;
  }
}

.download__container {
  background-color: #1D2631;
  padding-top: 30px;
  padding-bottom: 40px;
}
@media (min-width: 650px) {
  .download__container {
    background-color: inherit;
    padding-top: 28px;
    padding-bottom: 0px;
  }
}
@media (min-width: 1200px) {
  .download__container {
    padding-top: 16px;
  }
}

.download__container a {
  color: #ffffff;
}

.download__inner-container {
  text-align: center;
  min-width: 200px;
  max-width: 280px;
  margin: 0 auto;
}
@media (min-width: 650px) {
  .download__inner-container {
    max-width: 300px;
  }
}

.button {
  border: 3px solid #ffffff;
  box-sizing: border-box;
  border-radius: 30px;
  padding: 20px 0;
}

.download__button {
  display: block;
  font-weight: bold;
  line-height: 1;
  margin: 0 auto;
  margin-bottom: 32px;
  padding: 12px 32px;
  text-decoration: none;
}
.download__button:hover {
  color: #d22856;
  background-color: #ffffff;
  border: 3px solid #d22856;
}
.download__button:active {
  color: rgba(210, 40, 86, 0.3);
  background-color: #ffffff;
  border: 3px solid rgba(210, 40, 86, 0.3);
}
@media (max-width: 649px) {
  .download__button {
    max-width: 280px;
  }
}

.download__legend {
  margin: 0;
}

.download__platform {
  display: flex;
  justify-content: space-evenly;
  align-items: baseline;
  flex-wrap: wrap;
}

.download__legend {
  font-size: 14px;
  line-height: 24px;
  font-weight: lighter;
  padding-top: 28px;
}
@media (min-width: 650px) {
  .download__legend {
    font-size: 18px;
  }
}

.platform-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.advantages__header-wrapper {
  padding: 0 20px;
  padding-top: 46px;
  margin-bottom: 35px;
}
@media (min-width: 650px) {
  .advantages__header-wrapper {
    padding: 0 20px;
    padding: 58px 20px 0 20px;
    margin-bottom: 42px;
  }
}
@media (min-width: 1200px) {
  .advantages__header-wrapper {
    max-width: 960px;
    padding: 76px 10px 0 10px;
    margin: 0 auto;
    margin-bottom: 65px;
  }
}

.advantages__action {
  font-size: 24px;
  font-weight: lighter;
  line-height: 1.2;
  text-align: center;
  margin: 0;
  padding: 0;
}
@media (min-width: 650px) {
  .advantages__action {
    font-size: 40px;
    line-height: auto;
  }
  .advantages__action br:nth-child(-n+2) {
    display: none;
  }
}
@media (min-width: 1200px) {
  .advantages__action {
    font-size: 50px;
  }
}

.advantages__container {
  position: relative;
  display: flex;
  flex-direction: column;
  padding: 0 20px;
  background-color: #f2f2f2;
  background-image: url("../img/bg-triangle-white.svg");
  background-repeat: no-repeat;
  background-size: contain;
}
.advantages__container::after {
  content: "";
  display: block;
  background-image: url("../img/iphone-screen-mobile@2x.png");
  background-size: cover;
  width: 157px;
  height: 277px;
  align-self: center;
}
@media (min-width: 650px) {
  .advantages__container {
    flex-direction: row-reverse;
    justify-content: center;
  }
  .advantages__container::after {
    background-image: url("../img/iphone-screen-3-tablet@2x.png");
    width: 268px;
    height: 482px;
    align-self: flex-end;
    margin-right: 42px;
  }
}
@media (min-width: 1200px) {
  .advantages__container {
    padding: 0 10px;
  }
  .advantages__container::after {
    display: none;
  }
}

.advantages__list {
  list-style: none;
  margin: 0;
  padding: 0;
  padding-top: 85px;
  margin-bottom: 43px;
}
.advantages__item {
  text-align: center;
  margin-bottom: 43px;
}
.advantages__item:last-child {
  margin-bottom: 0;
}
.advantages__title {
  color: #000000;
  line-height: 24px;
  font-size: 18px;
  margin: 0;
  padding: 0;
  margin-bottom: 12px;
}
.advantages__text {
  font-size: 14px;
  line-height: 24px;
  margin: 0;
}
@media (min-width: 650px) {
  .advantages__list {
    max-width: 960px;
  }
  .advantages__item {
    text-align: left;
    max-width: 310px;
    margin-bottom: 47px;
  }
  .advantages__item:last-child {
    margin-bottom: 0;
  }
  .advantages__text br {
    display: none;
  }
}
@media (min-width: 1200px) {
  .advantages__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 100%;
    padding-top: 0;
    margin-bottom: 30px;
  }
  .advantages__item {
    max-width: 252px;
    text-align: center;
    margin-bottom: 30px;
  }
  .advantages__item:nth-child(3n) {
    margin-right: 0px;
  }
  .advantages__title {
    font-size: 30px;
    line-height: 30px;
    margin-bottom: 35px;
  }
  .advantages__text {
    font-size: 18px;
    line-height: 30px;
  }
}

.advantages__item {
  position: relative;
}
@media (min-width: 1200px) {
  .advantages__item-image--one::before {
    content: "";
    display: block;
    margin-bottom: 50px;
    width: 100%;
    height: 300px;
    background-image: url("../img/iphone-screen-1-desktop@2x.png");
    background-repeat: no-repeat;
    background-size: 300px 100%;
    background-position: center;
  }
}
@media (min-width: 1200px) {
  .advantages__item-image--two::before {
    content: "";
    display: block;
    margin-bottom: 50px;
    width: 100%;
    height: 300px;
    background-image: url("../img/iphone-screen-2-desktop@2x.png");
    background-repeat: no-repeat;
    background-size: 300px 100%;
    background-position: center;
  }
}
@media (min-width: 1200px) {
  .advantages__item-image--three::before {
    content: "";
    display: block;
    margin-bottom: 50px;
    width: 100%;
    height: 300px;
    background-image: url("../img/iphone-screen-3-desktop@2x.png");
    background-repeat: no-repeat;
    background-size: 300px 100%;
    background-position: center;
  }
}

@media (max-width: 649px) {
  .preview {
    display: none;
  }
}
@media (min-width: 1200px) {
  .preview {
    background-color: #f2f2f2;
    overflow: hidden;
  }
}

.preview__wrapper {
  padding: 0 20px;
  display: flex;
  justify-content: center;
  padding-top: 54px;
}
@media (min-width: 1200px) {
  .preview__wrapper {
    padding-top: 17px;
    margin-top: 0;
    margin-bottom: 67px;
  }
}
.preview__container-svg {
  position: relative;
  margin-right: 70px;
}
.preview__container-svg::before {
  content: "24";
  position: absolute;
  top: 118px;
  left: 64px;
  font-size: 96px;
  font-weight: bold;
  line-height: 63px;
  color: #d22856;
  z-index: 100;
}
@media (min-width: 1200px) {
  .preview__container-svg::before {
    top: 140px;
    left: 76px;
    font-size: 120px;
    line-height: 93px;
    color: #d22856;
    z-index: 100;
  }
}
.preview__svg {
  width: 238px;
  height: 276px;
}
@media (min-width: 1200px) {
  .preview__svg {
    width: 293px;
    height: 345px;
  }
}
.preview__content {
  max-width: 310px;
  margin-top: 36px;
}
@media (min-width: 1200px) {
  .preview__content {
    max-width: 570px;
    margin-top: 98px;
  }
}
.preview__title {
  font-size: 30px;
  font-weight: bold;
  line-height: 36px;
  color: #000000;
  margin: 0;
}
@media (min-width: 1200px) {
  .preview__title br {
    display: none;
  }
}
.preview__text {
  margin: 15px 0 15px 0;
  font-size: 14px;
  line-height: 24px;
}
.preview__text br {
  display: none;
}
@media (min-width: 1200px) {
  .preview__text {
    font-size: 18px;
    line-height: 30px;
    margin: 25px 0 30px 0;
  }
}
.preview__link-all {
  font-size: 14px;
  line-height: 24px;
  color: #d22856;
}
@media (min-width: 1200px) {
  .preview__link-all {
    font-size: 18px;
  }
}

.reviews {
  margin-bottom: 40px;
}
.reviews__wrapper {
  position: relative;
  padding: 44px 20px 0 20px;
}
@media (min-width: 650px) {
  .reviews__wrapper {
    padding-top: 109px;
  }
}
@media (min-width: 1200px) {
  .reviews__wrapper {
    padding: 72px 10px 0 10px;
  }
}
.reviews__item {
  margin: 0;
  text-align: center;
}
.reviews__author {
  display: flex;
  flex-direction: column;
}
@media (min-width: 650px) {
  .reviews__author {
    flex-direction: column-reverse;
  }
}
.reviews__author br {
  display: none;
}
.reviews__author-info {
  margin-bottom: 23px;
}
.reviews__author-name {
  display: inline-flex;
  font-weight: bold;
  font-style: normal;
  line-height: 30px;
  color: #000000;
  margin: 0;
}
@media (min-width: 650px) {
  .reviews__author-name {
    font-size: 20px;
    margin-bottom: 10px;
  }
}
@media (min-width: 1200px) {
  .reviews__author-name {
    font-size: 24px;
  }
}
.reviews__author-age {
  font-size: 14px;
  margin: 0;
}
@media (max-width: 649px) {
  .reviews__author-age {
    display: none;
  }
}
@media (min-width: 1200px) {
  .reviews__author-age {
    font-size: 18px;
  }
}
.reviews__author-text {
  align-self: center;
  font-size: 14px;
  line-height: 30px;
  max-width: 700px;
  margin: 0;
}
@media (min-width: 650px) {
  .reviews__author-text {
    font-size: 18px;
    margin-bottom: 44px;
  }
}
@media (min-width: 1200px) {
  .reviews__author-text::before {
    display: block;
    content: "";
    margin: 0 auto;
    margin-bottom: 55px;
    width: 79px;
    height: 63px;
    background-color: #efefef;
    -webkit-mask-image: url("../img/icon-quotes.svg");
            mask-image: url("../img/icon-quotes.svg");
  }
}

/**
  * SimpleAdaptiveSlider by Itchief v2.0.0 (https://github.com/itchief/ui-components/tree/master/simple-adaptive-slider)
  * Copyright 2020 - 2021 Alexander Maltsev
  * Licensed under MIT (https://github.com/itchief/ui-components/blob/master/LICENSE)
  */
/* стили для корневого элемента слайдера */
.slider {
  position: relative;
  overflow: hidden;
  max-width: 940px;
  margin-left: auto;
  margin-right: auto;
}

/* стили для wrapper */
.slider__wrapper {
  position: relative;
  overflow: hidden;
  background-color: inherit;
  padding-bottom: 36px;
}

/* стили для элемента, в котором непосредственно расположены элементы (слайды) */
.slider__items {
  display: flex;
  transition: transform 0.5s ease;
}

/* класс для отключения transition */
.transition-none {
  transition: none;
}

/* стили для элементов */
.slider__item {
  flex: 0 0 100%;
  max-width: 100%;
  position: relative;
}

/* кнопки Prev и Next */
.slider__control {
  position: absolute;
  top: 50%;
  width: 40px;
  height: 50px;
  transform: translateY(-50%);
  display: none;
  align-items: center;
  justify-content: center;
  color: #283645;
  background: inherit;
  opacity: 0.5;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}

.slider__control--show {
  display: flex;
}

.slider__control:hover {
  color: #283645;
  text-decoration: none;
  opacity: 0.6;
}

.slider__control:focus {
  color: #283645;
  text-decoration: none;
  opacity: 0.3;
}

.slider__control:active {
  color: #283645;
  text-decoration: none;
  opacity: 0.1;
}

.slider__control--prev {
  left: 0;
}
@media (max-width: 1200px) {
  .slider__control--prev {
    display: none;
  }
}

.slider__control--next {
  right: 0;
}
@media (max-width: 1200px) {
  .slider__control--next {
    display: none;
  }
}

.slider__control::before {
  content: "";
  display: inline-block;
  width: 22px;
  height: 41px;
  background: transparent no-repeat center center;
  background-size: 100% 100%;
}

.slider__control--prev::before {
  background-image: url("../img/icon-review-arrow-left.svg");
}

.slider__control--next::before {
  background-image: url("../img/icon-review-arrow-right.svg");
}

/* Индикаторы */
.slider__indicators {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  padding-left: 0;
  margin: 0 15%;
  list-style: none;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}

.slider__indicator {
  flex: 0 1 auto;
  align-self: center;
  width: 6px;
  height: 6px;
  margin-right: 8px;
  margin-left: 8px;
  background-color: rgba(40, 54, 69, 0.3);
  background-clip: padding-box;
  border: none;
  border-radius: 50%;
  cursor: pointer;
}
@media (min-width: 1200px) {
  .slider__indicator {
    display: none;
  }
}
.slider__indicator:last-child {
  margin-right: 0;
}

.slider__indicator--active {
  width: 6px;
  height: 6px;
  background-color: #ffffff;
  border: 3px solid #283645;
}

.table {
  border-collapse: collapse;
}

.price {
  padding-top: 100px;
  background-color: #f2f2f2;
  background-image: url("../img/bg-triangle-white.svg");
  background-repeat: no-repeat;
  background-size: contain;
}
.price__wrapper {
  width: 100%;
  overflow: hidden;
}
.price__items {
  margin-bottom: 50px;
}
.price__switch {
  display: none;
}
.price__list {
  margin-bottom: 45px;
  width: 828px;
  box-sizing: border-box;
  transform: translateX(-276px);
}
.price__list-head {
  font-size: 16px;
  line-height: 30px;
  text-transform: uppercase;
  color: #ffffff;
  background-color: #283645;
  border-radius: 5px;
}
.price__value {
  position: relative;
  box-sizing: border-box;
  min-width: 276px;
  padding-top: 13px;
  padding-bottom: 23px;
  border-left: 2px solid transparent;
}
.price__value:nth-child(2) {
  border-left: none;
  border-top-left-radius: 5px;
}
.price__value:last-child {
  border-top-right-radius: 5px;
}
.price__value--empty {
  visibility: collapse;
  min-width: 0;
  margin: 0;
  padding: 0;
  font-size: 0;
  line-height: 0;
  background-color: transparent;
  border: 0;
}
.price__value-hit {
  display: block;
  position: absolute;
  width: 74px;
  height: 74px;
  top: 0;
}
.price__value--flag::before {
  position: absolute;
  content: "хит";
  font-size: 14px;
  font-weight: 400;
  line-height: 30px;
  text-align: center;
  width: 74px;
  height: 74px;
  left: 0;
  transform: rotate(-45deg);
  z-index: 10;
}
.price__value-sum {
  font-size: 18px;
  font-weight: 300;
}
.price__list-body {
  background-color: #ffffff;
}
.price__cell {
  position: relative;
  box-sizing: border-box;
  padding: 14px 19px;
  font-size: 14px;
  line-height: 30px;
  text-transform: uppercase;
  border: 2px solid #f2f2f2;
  border-top: none;
}
.price__cell--yes::after {
  display: block;
  float: right;
  content: "";
  width: 31px;
  height: 21px;
  margin-top: 5px;
  -webkit-mask-image: url("../img/icon-yes.svg");
          mask-image: url("../img/icon-yes.svg");
  -webkit-mask-repeat: no-repeat;
          mask-repeat: no-repeat;
  -webkit-mask-position: center;
          mask-position: center;
  -webkit-mask-size: contain;
          mask-size: contain;
  background-color: #3dc644;
}
.price__cell--no::after {
  display: block;
  float: right;
  content: "";
  width: 27px;
  height: 25px;
  margin-top: 5px;
  -webkit-mask-image: url("../img/icon-no.svg");
          mask-image: url("../img/icon-no.svg");
  -webkit-mask-repeat: no-repeat;
          mask-repeat: no-repeat;
  -webkit-mask-position: center;
          mask-position: center;
  -webkit-mask-size: contain;
          mask-size: contain;
  background-color: #f25b26;
}
.price .price__nav {
  position: static;
}

@media (max-width: 649px) {
  .price__items {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .price__cell--none {
    min-width: 0;
    margin: 0;
    padding: 0;
    font-size: 0;
    line-height: 0;
    background-color: transparent;
    border: 0;
  }

  .price__nav {
    position: static;
  }

  #price-radio-1:checked ~ .price__list {
    transform: translateX(280px);
    transition: 0.5s;
  }

  #price-radio-2:checked ~ .price__list {
    transform: translateX(0px);
    transition: 0.5s;
  }

  #price-radio-3:checked ~ .price__list {
    transform: translateX(-280px);
    transition: 0.5s;
  }

  #price-radio-1:checked ~ .price__nav label[for=price-radio-1],
#price-radio-2:checked ~ .price__nav label[for=price-radio-2],
#price-radio-3:checked ~ .price__nav label[for=price-radio-3] {
    background-color: white;
    border: 3px solid #283645;
  }
}
@media (min-width: 650px) {
  .price__items {
    padding: 0 20px;
    margin-bottom: 70px;
  }
  .price__list {
    transform: none;
    width: 620px;
    margin: 0 auto;
  }
  .price__value {
    min-width: 152px;
    padding-top: 12px;
    padding-bottom: 7px;
  }
  .price__value-sum {
    font-size: 24px;
  }
  .price__value-hit {
    width: 60px;
    height: 60px;
  }
  .price__value--flag::before {
    left: 0;
    top: 0;
  }
  .price__cell {
    padding: 5px 0 5px 0;
  }
  .price__cell--yes, .price__cell--no {
    text-align: center;
  }
  .price__cell--yes::after, .price__cell--no::after {
    display: inline-block;
    float: none;
  }
  .price__cell--none {
    text-transform: none;
    padding-left: 16px;
    padding-right: 18px;
  }
  .price__cell-text {
    display: none;
  }
  .price .price__nav {
    display: none;
  }
}
@media (min-width: 1200px) {
  .price {
    padding-top: 160px;
  }
  .price__items {
    padding: 0 10px;
    margin-bottom: 100px;
  }
  .price__list {
    transform: none;
    width: 940px;
    margin: 0 auto;
  }
  .price__value {
    min-width: 233px;
    padding-top: 17px;
    padding-bottom: 22px;
  }
  .price__value:first-child, .price__value-hit {
    width: 74px;
    height: 74px;
  }
  .price__value--flag::before {
    left: 5px;
    top: 5px;
  }
  .price__cell {
    padding: 11px 0 11px 0;
  }
  .price__cell--yes, .price__cell--no {
    text-align: center;
  }
  .price__cell--yes::after, .price__cell--no::after {
    display: inline-block;
    float: none;
  }
  .price__cell--none {
    text-transform: none;
    padding-left: 16px;
    padding-right: 18px;
  }
  .price__cell-text {
    display: none;
  }
  .price .price__nav {
    display: none;
  }
}
.contacts {
  text-align: center;
  padding-top: 45px;
}
@media (min-width: 650px) {
  .contacts {
    padding-top: 55px;
  }
}
@media (min-width: 1200px) {
  .contacts {
    padding-top: 66px;
  }
}
.contacts__wrapper {
  padding: 0 20px;
}
@media (min-width: 1200px) {
  .contacts__wrapper {
    max-width: 960px;
    padding: 0 10px;
    margin: 0 auto;
  }
}
.contacts__communicate {
  margin: 0;
  margin-bottom: 40px;
  font-weight: 300;
  font-size: 24px;
  line-height: 120%;
}
@media (min-width: 650px) {
  .contacts__communicate {
    font-size: 40px;
    margin-bottom: 45px;
  }
}
@media (min-width: 1200px) {
  .contacts__communicate {
    font-size: 50px;
    margin-bottom: 51px;
  }
}
.contacts__list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}
@media (min-width: 650px) {
  .contacts__list {
    flex-direction: row;
    justify-content: space-around;
  }
}
.contacts__item {
  margin-bottom: 25px;
}
.contacts__item:last-child {
  margin-bottom: 0;
}
@media (min-width: 650px) {
  .contacts__item {
    margin-bottom: 50px;
  }
}
@media (min-width: 650px) {
  .contacts__item--order {
    order: 1;
  }
}
.contacts__title {
  font-weight: 700;
  font-size: 18px;
  line-height: 100%;
  margin-top: 0px;
  margin-bottom: 10px;
}
@media (min-width: 650px) {
  .contacts__title {
    margin-bottom: 32px;
  }
}
.contacts__info {
  margin: 0;
  text-decoration: none;
  font-weight: 300;
  font-size: 24px;
  line-height: 137%;
  color: #d22856;
}
.contacts__info:hover,
.contacts__info :focus {
  color: #283645;
  text-decoration: underline;
}
.contacts__info:active {
  color: rgba(40, 54, 69, 0.3);
  text-decoration: none;
}

.contacts__map-wrapper {
  position: relative;
  height: 200px;
}
.contacts__map-wrapper svg {
  display: inline-block;
  position: absolute;
  top: 0;
  left: 0;
}
@media (min-width: 650px) {
  .contacts__map-wrapper {
    height: 375px;
  }
}
@media (min-width: 1200px) {
  .contacts__map-wrapper {
    height: 500px;
  }
}
.contacts__int {
  width: 100%;
  height: 100%;
}

.page-footer {
  padding-top: 40px;
  padding-bottom: 40px;
}
@media (min-width: 1200px) {
  .page-footer {
    padding-top: 75px;
    padding-bottom: 75px;
  }
}
.page-footer__wrapper {
  display: flex;
  flex-direction: column;
  padding: 0 20px;
  text-align: center;
  align-items: center;
}
@media (min-width: 650px) {
  .page-footer__wrapper {
    flex-direction: row;
    justify-content: space-between;
    margin: 0 auto;
  }
}
@media (min-width: 1200px) {
  .page-footer__wrapper {
    max-width: 960px;
    padding: 0 10px;
  }
}
.page-footer__logo {
  margin-bottom: 35px;
}
.page-footer__logo--svg path {
  fill: #283645;
}
@media (min-width: 650px) {
  .page-footer__logo {
    margin: 0;
  }
}
.social__list {
  display: grid;
  grid-template-columns: 48px 48px 48px;
  justify-items: center;
  justify-content: center;
  -moz-column-gap: 8px;
       column-gap: 8px;
  margin: 0;
  padding: 0;
  margin-bottom: 35px;
  list-style: none;
}
@media (min-width: 650px) {
  .social__list {
    margin: 0;
  }
}
.social__item {
  -moz-column-gap: 10px;
       column-gap: 10px;
}
.social__link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 48px;
  height: 48px;
  background-color: #ffffff;
  border: 3px solid rgba(40, 54, 69, 0.1);
  border-radius: 30px;
  box-sizing: border-box;
}
.social__link:hover {
  border-color: #000000;
}
.social__link:active {
  opacity: 10%;
}
.social__icon {
  fill: #d22856;
}
.social__icon path {
  fill: #d22856;
}
.social__link--twitter svg {
  width: 18px;
  height: 14px;
}
.social__link--facebook svg {
  width: 9px;
  height: 18px;
}
.social__link--youtube svg {
  width: 15px;
  height: 13px;
}

.copyright {
  display: flex;
  justify-content: center;
  align-items: center;
}
.copyright__text {
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  margin-right: 11px;
}
@media (min-width: 1200px) {
  .copyright__text {
    font-size: 18px;
  }
}
.copyright__logo {
  width: 41px;
  height: 41px;
}
.copyright__logo path {
  fill: #d22856;
}
.copyright__logo path:hover {
  fill: #000000;
}
.copyright__logo path:active {
  fill-opacity: 10%;
}

.input {
  position: relative;
  box-sizing: border-box;
  border: 2px solid #e5e5e5;
  border-radius: 4px;
  padding: 20px;
  width: 100%;
  height: 60px;
}
.input::-moz-placeholder {
  color: #283645;
}
.input::placeholder {
  color: #283645;
}
.input:hover {
  border-color: #000000;
}
.input:focus {
  outline-color: #d22856;
}

.form__title {
  text-transform: uppercase;
  font-size: 14px;
  line-height: 30px;
  color: #d22856;
}

.form__group {
  margin: 0;
  padding: 0;
  border: none;
}

.subtitle {
  margin: 0;
  margin-bottom: 45px;
  text-align: center;
  font-size: 14px;
  line-height: 30px;
}

@-webkit-keyframes tick {
  0% {
    transform: scale(0);
  }
  90% {
    transform: scale(1.4);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes tick {
  0% {
    transform: scale(0);
  }
  90% {
    transform: scale(1.4);
  }
  100% {
    transform: scale(1);
  }
}
@-webkit-keyframes hover-link {
  0% {
    color: #ffffff;
  }
  100% {
    color: #d22856;
  }
}
@keyframes hover-link {
  0% {
    color: #ffffff;
  }
  100% {
    color: #d22856;
  }
}
.contest {
  padding-top: 50px;
}
@media (min-width: 650px) {
  .contest {
    padding-top: 90px;
  }
}
.contest__wrapper {
  padding: 0 20px;
}
@media (min-width: 1200px) {
  .contest__wrapper {
    max-width: 960px;
    margin: 0 auto;
    padding: 0 10px;
  }
}
@media (max-width: 649px) {
  .contest__subtitle--form {
    display: none;
  }
}
@media (min-width: 650px) {
  .contest__subtitle {
    margin: 0 auto;
    margin-bottom: 60px;
    max-width: 480px;
    font-size: 18px;
  }
}
@media (min-width: 1200px) {
  .contest__subtitle {
    max-width: 780px;
    margin-bottom: 80px;
  }
  .contest__subtitle br {
    display: none;
  }
}

.form__error {
  border-color: red;
}
.form__wrapper {
  display: grid;
  grid-template-rows: repeat(5, auto);
}
@media (min-width: 1200px) {
  .form__wrapper {
    max-width: 960px;
    padding: 0 10px;
    margin: 0 auto;
  }
}
@media (min-width: 1200px) {
  .form__wrapper {
    grid-template-columns: 1fr 1fr;
    -moz-column-gap: 74px;
         column-gap: 74px;
  }
}
@media (max-width: 1199px) {
  .form__container {
    padding: 0 20px;
  }
}
@media (min-width: 650px) {
  .form__container {
    margin-bottom: 50px;
  }
  .form__container:last-child {
    margin-bottom: 0;
  }
}
@media (min-width: 1200px) {
  .form__container {
    margin-bottom: 60px;
  }
}
.form__group {
  margin: 0;
  padding: 0;
  border: none;
}
@media (min-width: 650px) {
  .form__group {
    padding: 0 62px;
  }
}
.form__list {
  margin: 0;
  padding: 0;
  list-style: none;
}
.form__full-name {
  margin: 0;
  padding: 0;
  border: none;
}
.form__title {
  font-size: 14px;
  line-height: 18px;
}
.form__title--center {
  text-align: center;
}
@media (max-width: 649px) {
  .form__title--novis {
    display: none;
  }
}
.form__name-item {
  display: flex;
  flex-direction: column;
  margin-bottom: 27px;
}
@media (min-width: 650px) {
  .form__name-item {
    flex-direction: row;
    margin-bottom: 55px;
  }
  .form__name-item:last-child {
    margin-bottom: 0;
  }
}
.form__title-name {
  padding-left: 21px;
  margin-bottom: 7px;
}
@media (min-width: 650px) {
  .form__title-name {
    align-self: center;
    margin-bottom: 0;
    margin-right: 20px;
    padding-left: 0;
  }
}
@media (max-width: 649px) {
  .form__platforms-box {
    padding-top: 40px;
    background-color: #f2f2f2;
    background-size: 100%;
  }
}
@media (min-width: 1200px) {
  .form__platforms-box {
    margin-top: -8px;
  }
}
@media (max-width: 1199px) {
  .form__platforms {
    display: grid;
    grid-template-columns: auto auto;
    -moz-column-gap: 20px;
         column-gap: 20px;
    justify-content: space-between;
  }
}
@media (min-width: 650px) {
  .form__platforms {
    border: 2px solid #e5e5e5;
    border-radius: 2px;
  }
}
@media (min-width: 1200px) {
  .form__platforms {
    padding: 0;
  }
}
.form__platforms-title {
  padding: 0 25px;
}
.form__platforms-list {
  padding-top: 35px;
  margin-bottom: 40px;
}
@media (min-width: 650px) {
  .form__platforms-list {
    padding-top: 55px;
    margin-bottom: 55px;
  }
}
@media (min-width: 1200px) {
  .form__platforms-list {
    white-space: nowrap;
    padding: 50px 62px 0 62px;
    margin-bottom: 60px;
  }
}
.form__platforms-item {
  margin-bottom: 28px;
}
.form__platforms-item:last-child {
  margin-bottom: 0;
}
@media (min-width: 650px) {
  .form__platforms-item {
    margin-bottom: 38px;
  }
}
.form__platforms-radio + label::before {
  position: absolute;
  content: "";
  box-sizing: border-box;
  width: 37px;
  height: 37px;
  left: 0;
  top: -6px;
  background-color: #ffffff;
  border: 2px solid #e5e5e5;
  border-radius: 50%;
}
.form__platforms-radio:checked + label::after {
  position: absolute;
  content: "";
  box-sizing: border-box;
  width: 15px;
  height: 15px;
  left: 11px;
  top: 5px;
  background-color: #d22856;
  border-radius: 50%;
  -webkit-animation: tick 0.2s ease-in-out;
          animation: tick 0.2s ease-in-out;
}
.form__platforms-radio + label:hover::before,
.form__platforms-radio label:focus::before {
  border-color: #000000;
}
.form__platforms-radio + label:active::before {
  border-color: #d22856;
}
.form__platforms-name {
  cursor: pointer;
  position: relative;
  line-height: 30px;
  padding-left: 70px;
}
@media (min-width: 650px) {
  .form__platforms-name {
    padding-left: 60px;
  }
}
.form__contacts-box {
  margin-bottom: 44px;
}
@media (max-width: 649px) {
  .form__contacts-box {
    grid-row: 3/4;
    padding-top: 40px;
  }
}
@media (min-width: 1200px) {
  .form__contacts-box {
    grid-column: 1/3;
    margin-bottom: 60px;
  }
}
@media (min-width: 650px) {
  .form__contacts {
    border: 2px solid #e5e5e5;
    border-radius: 2px;
  }
  .form__contacts legend {
    padding: 0 31px;
  }
}
@media (min-width: 650px) {
  .form__contacts-list {
    padding-top: 35px;
  }
}
@media (min-width: 1200px) {
  .form__contacts-list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
}
.form__contatcts-item {
  display: flex;
  flex-direction: column;
  margin-bottom: 27px;
}
@media (min-width: 650px) {
  .form__contatcts-item {
    flex-direction: column-reverse;
    margin-bottom: 34px;
  }
}
@media (min-width: 1200px) {
  .form__contatcts-item {
    margin-bottom: 20px;
  }
  .form__contatcts-item .input {
    min-width: 370px;
  }
}
.form__contacts-title {
  padding-left: 21px;
  margin-bottom: 7px;
}
@media (min-width: 650px) {
  .form__contacts-title {
    margin-bottom: 0;
    margin-top: 15px;
  }
}
.form__contacts-number {
  background-image: url("../img/bg-input-contacts.png");
  background-position: 100% center;
  background-repeat: no-repeat;
  padding-right: 60px;
}
.form__contacts-email {
  background-image: url("../img/bg-input-contacts-mail.svg");
  background-position: 100% center;
  background-repeat: no-repeat;
  padding-right: 60px;
}
@media (max-width: 649px) {
  .form__achiev-box {
    grid-row: 2/3;
    padding-top: 40px;
    background-color: #f2f2f2;
  }
}
@media (min-width: 1200px) {
  .form__achiev-box {
    grid-column: 1/3;
  }
}
@media (max-width: 1199px) {
  .form__achiev {
    display: grid;
    grid-template-columns: auto auto;
    justify-content: space-between;
  }
}
@media (min-width: 650px) {
  .form__achiev {
    border: 2px solid #e5e5e5;
    border-radius: 2px;
  }
  .form__achiev legend {
    padding: 0 31px;
  }
  .form__achiev legend br {
    display: none;
  }
}
.form__achiev-list {
  padding-top: 45px;
}
@media (min-width: 1200px) {
  .form__achiev-list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
}
.form__achiev-holder {
  margin-bottom: 45px;
}
.form__achiev-checkbox + label::before {
  position: absolute;
  box-sizing: border-box;
  content: "";
  width: 35px;
  height: 35px;
  left: 0;
  top: -5px;
  background-color: #ffffff;
  border: 2px solid #e5e5e5;
  border-radius: 4px;
}
.form__achiev-checkbox:checked + label::after {
  position: absolute;
  box-sizing: border-box;
  content: url("data:image/svg+xml,%3Csvg version='1.0' id='Layer_1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' width='21.698px' height='16.09px' viewBox='-82.357 4.875 21.698 16.09' enable-background='new -82.357 4.875 21.698 16.09' xml:space='preserve'%3E%3Cpath fill='%23D22856' d='M-60.953,5.167c-0.391-0.391-1.023-0.391-1.414,0L-75.75,18.551l-4.9-4.9c-0.391-0.391-1.023-0.391-1.414,0 s-0.391,1.023,0,1.414l5.607,5.607c0.195,0.195,0.451,0.293,0.707,0.293s0.512-0.098,0.707-0.293l14.09-14.0 C-60.562,6.191-60.562,5.558-60.953,5.167z'/%3E%3C/svg%3E%0A");
  width: 22px;
  height: 16px;
  left: 7px;
  top: -2px;
  -webkit-animation: tick 0.2s ease-in-out;
          animation: tick 0.2s ease-in-out;
}
.form__achiev-checkbox + label:hover::before {
  border-color: #000000;
}
.form__achiev-checkbox + label:active::before {
  border-color: #d22856;
}
.form__achiev-title {
  cursor: pointer;
  position: relative;
  padding-left: 60px;
  line-height: 30px;
}
@media (max-width: 649px) {
  .form__emotions-box {
    padding-top: 40px;
  }
}
@media (min-width: 1200px) {
  .form__emotions-box {
    grid-column: 1/3;
  }
}
.form__emotions {
  padding-top: 22px;
}
@media (min-width: 650px) {
  .form__emotions {
    border: 2px solid #e5e5e5;
    border-radius: 2px;
    padding-top: 42px;
    padding-bottom: 53px;
  }
}
@media (min-width: 1200px) {
  .form__emotions {
    padding-top: 45px;
    padding-bottom: 45px;
  }
}
@media (min-width: 650px) {
  .form__emotions-title {
    padding: 0 38px;
  }
}
.form__emotions-text {
  min-width: 276px;
  height: 197px;
  resize: none;
}
.form__emotions-text::-moz-placeholder {
  line-height: 30px;
}
.form__emotions-text::placeholder {
  line-height: 30px;
}
.form__legend-wrapper {
  padding: 50px 20px 0 20px;
  max-width: 960px;
  margin: 0 auto;
}
@media (min-width: 650px) {
  .form__legend-wrapper {
    display: flex;
    justify-content: space-between;
    padding-top: 70px;
    margin-bottom: 50px;
  }
}
@media (min-width: 1200px) {
  .form__legend-wrapper {
    padding: 0 10px;
    margin: 0 auto;
    margin-top: 69px;
  }
}
.form__button-box {
  text-align: center;
}
.form__button {
  font-size: 18px;
  line-height: 30px;
  font-weight: 700;
  text-transform: uppercase;
  padding: 17px 43px;
  color: #ffffff;
  background-color: #2aab6d;
  border: 4px solid transparent;
  border-radius: 4px;
}
.form__button:hover {
  background-color: #1c9b5e;
}
.form__button:active {
  color: rgba(255, 255, 255, 0.3);
}
@media (min-width: 650px) {
  .form__button {
    padding: 17px 55px;
  }
}
.form__legend {
  font-size: 14px;
  line-height: 30px;
  padding-top: 38px;
  margin: 0;
  margin-bottom: 25px;
  text-align: center;
  text-transform: uppercase;
}
.form__legend sup {
  color: #d22856;
}
@media (min-width: 650px) {
  .form__legend {
    align-self: center;
    padding: 0;
    margin: 0;
  }
}
@media (max-width: 1199px) {
  .form__legend--hidden {
    display: none;
  }
}

.popup__valid {
  position: absolute;
  text-align: center;
  background-color: #ffffff;
  border-radius: 2px;
  box-shadow: 0px 7px 15px rgba(0, 1, 1, 0.15);
  width: 100%;
}
@media (min-width: 650px) {
  .popup__valid {
    max-width: 460px;
  }
}
@media (min-width: 1200px) {
  .popup__valid {
    max-width: 780px;
  }
}
.popup__valid-box {
  padding: 0 20px;
}
@media (min-width: 650px) {
  .popup__valid-box {
    padding: 0 70px;
  }
}
.popup__succes {
  top: 1900px;
  display: none;
  left: 50%;
  transform: translate(-50%, -50%);
}
.popup__succes--hidden {
  display: block;
  transition: all 0.5s ease 0s;
}
@media (min-width: 650px) {
  .popup__succes {
    top: 1635px;
  }
}
@media (min-width: 1200px) {
  .popup__succes {
    top: 1275px;
  }
}
.popup__title {
  line-height: 24px;
  color: #000;
  padding: 0;
  margin: 0;
  padding-top: 40px;
  margin-bottom: 34px;
}
@media (max-width: 649px) {
  .popup__title br {
    display: none;
  }
}
@media (min-width: 650px) {
  .popup__title {
    font-size: 30px;
    line-height: 40px;
    margin-bottom: 30px;
  }
}
@media (min-width: 1200px) {
  .popup__title br {
    display: none;
  }
}
.popup__text {
  font-size: 14px;
  line-height: 24px;
  margin: 0;
  margin-bottom: 36px;
}
@media (max-width: 1199px) {
  .popup__text br {
    display: none;
  }
}
@media (min-width: 650px) {
  .popup__text {
    font-size: 18px;
    line-height: 24px;
  }
}
@media (min-width: 1200px) {
  .popup__succes-text {
    width: 59.4615384615%;
    margin-left: auto;
    margin-right: auto;
  }
  .popup__succes-text br {
    display: none;
  }
}
.popup__button {
  max-width: 276px;
  width: 100%;
}
@media (min-width: 650px) {
  .popup__button {
    max-width: 295px;
  }
}
@media (min-width: 1200px) {
  .popup__button {
    max-width: 456px;
  }
}
.popup__failed {
  top: 1425px;
  display: none;
  left: 50%;
  transform: translate(-50%, -50%);
}
.popup__failed--hidden {
  display: block;
  -webkit-animation: bounce 0.3s ease-in-out forwards;
          animation: bounce 0.3s ease-in-out forwards;
}
@media (min-width: 650px) {
  .popup__failed {
    top: 1165px;
  }
}
@media (min-width: 1200px) {
  .popup__failed {
    top: 820px;
  }
}
.popup__failed-text {
  margin-bottom: 45px;
}
@media (min-width: 650px) {
  .popup__failed-text {
    margin-bottom: 40px;
  }
}
@media (min-width: 1200px) {
  .popup__failed-text {
    margin-bottom: 64px;
  }
}
@media (min-width: 1200px) {
  .popup__button-failed {
    max-width: 296px;
  }
}
.popup__button-box {
  padding: 52px 20px;
  margin: 0;
}
.popup__button-box--succes {
  background-color: #f2f2f2;
}
@media (max-width: 1199px) {
  .popup__button-box--failed {
    padding-top: 0;
  }
}
@media (min-width: 1200px) {
  .popup__button-box--failed {
    background-color: #f2f2f2;
  }
}

@-webkit-keyframes bounce {
  0% {
    opacity: 0;
    transform: translate(-50%, 100%);
  }
  100% {
    opacity: 1;
    transform: translate(-50%, -50%);
  }
}

@keyframes bounce {
  0% {
    opacity: 0;
    transform: translate(-50%, 100%);
  }
  100% {
    opacity: 1;
    transform: translate(-50%, -50%);
  }
}
.photo__container {
  padding: 0 20px;
}
@media (min-width: 1200px) {
  .photo__container {
    max-width: 960px;
    margin: 0 auto;
    padding: 0 10px;
  }
}

.photo__subtitle-box {
  padding-top: 48px;
  margin-bottom: 52px;
}
@media (min-width: 650px) {
  .photo__subtitle-box {
    padding-top: 95px;
    margin-bottom: 80px;
  }
}
@media (min-width: 1200px) {
  .photo__subtitle-box {
    padding-top: 95px;
    margin-bottom: 90px;
  }
}
.photo__subtitle {
  font-weight: 400;
  margin: 0;
}
@media (min-width: 650px) {
  .photo__subtitle {
    font-size: 18px;
  }
}
.photo__best {
  position: relative;
  margin-bottom: 20px;
}
.photo__best-icon-box {
  position: relative;
}
.photo__best-icon {
  display: inline-block;
  position: absolute;
  right: 0;
  top: 0;
  font-size: 12px;
  line-height: 24px;
  font-weight: 700;
  text-transform: uppercase;
  padding: 8px 20px;
  color: #ffffff;
  background-color: #d22856;
}
@media (min-width: 650px) {
  .photo__best-icon::after {
    top: 60px;
  }
}
.photo__best-img {
  display: block;
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 140px;
}
@media (min-width: 650px) {
  .photo__best-img {
    height: 510px;
  }
}
.photo__list {
  margin: 0;
  padding: 0;
  list-style: none;
}
@media (min-width: 650px) {
  .photo__list {
    display: flex;
    flex-wrap: wrap;
  }
}
.photo__item {
  margin-bottom: 20px;
}
.photo__item:last-child {
  margin-bottom: 0;
}
@media (min-width: 650px) {
  .photo__item {
    flex: 1 1 300px;
    margin-right: 20px;
  }
}
@media (max-width: 979px) {
  .photo__item:nth-child(2n) {
    margin-right: 0;
  }
}
@media (min-width: 980px) {
  .photo__item:nth-child(3n) {
    margin-right: 0;
  }
}
.photo__comment {
  position: relative;
  box-sizing: border-box;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  padding: 20px 14px;
  margin: 0;
  background-color: #f2f2f2;
}
@media (min-width: 650px) {
  .photo__comment {
    min-height: 155px;
    padding: 25px 34px;
  }
}
@media (min-width: 650px) {
  .photo__comment--best {
    min-height: auto;
  }
  .photo__comment--best .photo__like {
    top: 24px;
    right: 25px;
    width: 21.5%;
  }
  .photo__comment--best .photo__author-quote {
    margin-bottom: 0;
  }
}
@media (min-width: 1200px) {
  .photo__comment--best .photo__like {
    top: 24px;
    right: 44px;
    width: 14%;
  }
}
.photo__img {
  display: block;
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 180px;
}
@media (min-width: 650px) {
  .photo__img {
    height: 300px;
  }
}
.photo__authot-name {
  font-weight: 700;
  font-style: normal;
}
.photo__author-time {
  font-weight: 300;
  text-transform: uppercase;
}
.photo__author-quote {
  margin: 0;
  margin-bottom: 17px;
}
@media (min-width: 360px) {
  .photo__author-quote br {
    display: none;
  }
}
.photo__like {
  margin: 0;
  color: #d22856;
  text-transform: uppercase;
}
.photo__like::before {
  content: url("../img/icon-heart.svg");
  width: 13px;
  height: 12px;
  margin-right: 18px;
  vertical-align: middle;
}
@media (min-width: 650px) {
  .photo__like {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    position: absolute;
    bottom: 24px;
    width: 80%;
  }
  .photo__like::before {
    margin: 0;
  }
}
.photo__footer-box {
  padding-top: 40px;
  padding-bottom: 40px;
}
@media (min-width: 650px) {
  .photo__footer-box {
    padding-bottom: 0;
    margin-bottom: 70px;
  }
}
.photo__footer-slogan {
  font-size: 14px;
  font-weight: 400;
  line-height: 30px;
  margin: 0;
  text-align: center;
}
@media (min-width: 650px) {
  .photo__footer-slogan {
    font-size: 18px;
  }
}

.filter__wrapper {
  background-color: #f2f2f2;
}
@media (min-width: 1200px) {
  .filter__wrapper {
    background-color: inherit;
  }
}
.filter__box {
  position: relative;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 20px;
}
@media (max-width: 649px) {
  .filter__box::after {
    position: absolute;
    content: "";
    bottom: 200px;
    height: 1px;
    width: 100%;
    background: #283645;
    opacity: 0.1;
  }
}
@media (min-width: 650px) {
  .filter__box {
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    padding-top: 55px;
    padding-bottom: 55px;
  }
}
@media (min-width: 1200px) {
  .filter__box {
    justify-content: space-between;
    padding-right: 60px;
    padding-left: 80px;
    background-color: #f2f2f2;
  }
}
.filter__img-box {
  margin-bottom: 40px;
}
@media (min-width: 650px) {
  .filter__img-box {
    margin-right: 50px;
    margin-bottom: 0;
  }
}
@media (min-width: 1200px) {
  .filter__img-box {
    margin-right: 0;
  }
}
.filter__img {
  -o-object-fit: cover;
     object-fit: cover;
  max-height: 400px;
  max-width: 300px;
  width: 100%;
}
@media (min-width: 650px) {
  .filter__img {
    min-height: 400px;
    min-width: 300px;
  }
}
@media (max-width: 649px) {
  .filter__settings {
    width: 100%;
  }
}
.filter__settings-box {
  margin-bottom: 67px;
}
@media (min-width: 650px) {
  .filter__settings-box {
    margin-bottom: 142px;
  }
}
@media (min-width: 650px) {
  .filter__settings-box--mobile {
    display: none;
  }
}
@media (max-width: 649px) {
  .filter__settings-box--tablet {
    display: none;
  }
}
.filter__settings-list {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  margin: 0;
  margin-bottom: 30px;
  list-style: none;
}
@media (min-width: 650px) {
  .filter__settings-list {
    flex-direction: column;
  }
}
.filter__settings-item {
  position: relative;
  margin-right: 35px;
}
.filter__settings-item:last-child {
  margin-right: 0;
}
.filter__settings-item button {
  padding: 0;
  border: none;
  background-color: inherit;
  cursor: pointer;
}
@media (min-width: 650px) {
  .filter__settings-item {
    box-sizing: border-box;
    position: relative;
    max-width: 275px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-right: 0;
    padding: 25px 18px 26px 0;
    border-bottom: 1px solid rgba(40, 54, 69, 0.1);
  }
  .filter__settings-item svg {
    margin-right: 30px;
  }
  .filter__settings-item .filter__svg-dia {
    padding-left: 4px;
  }
}
@media (min-width: 650px) and (min-width: 1200px) {
  .filter__settings-item .filter__svg-dia {
    padding-left: 6px;
  }
}
@media (min-width: 1200px) {
  .filter__settings-item {
    padding: 16px 30px 16px 0;
  }
  .filter__settings-item:last-child {
    border-bottom: none;
  }
}
@media (min-width: 1200px) {
  .filter__settings-item {
    min-width: 410px;
  }
  .filter__settings-item .filter__svg-crop {
    width: 44px;
    height: 44px;
  }
  .filter__settings-item .filter__svg-fill {
    width: 48px;
    height: 43px;
  }
  .filter__settings-item .filter__svg-dia {
    width: 32px;
    height: 32px;
  }
}
@media (min-width: 650px) {
  .filter__settings-crop {
    padding-top: 10px;
  }
}
@media (min-width: 1200px) {
  .filter__settings-crop {
    padding-top: 0;
  }
}
.filter__settings-radio + label svg path,
.filter__settings-radio + label svg rect {
  fill: rgba(40, 54, 69, 0.3);
}
.filter__settings-radio + label:hover svg path,
.filter__settings-radio + label:hover svg rect,
.filter__settings-radio label:focus svg path,
.filter__settings-radio label:focus svg rect {
  fill: rgba(40, 54, 69, 0.5);
}
.filter__settings-radio:checked + label svg path,
.filter__settings-radio:checked + label svg rect {
  fill: #d22856;
}
.filter__settings-title1 svg {
  width: 44px;
  height: 44px;
}
.filter__settings-title12 svg {
  width: 48px;
  height: 43px;
}
.filter__settings-title13 svg {
  width: 32px;
  height: 32px;
}
.filter__controls {
  position: relative;
  width: 240px;
  height: 10px;
  margin: 0 auto;
  padding-top: 6px;
}
@media (min-width: 650px) {
  .filter__controls {
    width: 204px;
    margin: 0;
  }
}
@media (min-width: 1200px) {
  .filter__controls {
    width: 288px;
  }
}
.filter__scale {
  height: 2px;
  background-color: #283645;
}
.filter__toggle {
  box-sizing: border-box;
  cursor: pointer;
  position: absolute;
  top: 0;
  width: 14px;
  height: 14px;
  border: 2px solid #d22856;
  border-radius: 50%;
  background-color: #ffffff;
}
.filter__toggle:active {
  background-color: #d22856;
}
.filter__box-btn {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 40px;
}
@media (min-width: 650px) {
  .filter__box-btn {
    margin-bottom: 0;
  }
}
@media (min-width: 1200px) {
  .filter__box-btn {
    flex-direction: row;
    justify-content: space-between;
  }
}
.filter__btn {
  max-width: 280px;
  width: 100%;
}
@media (min-width: 650px) {
  .filter__btn {
    max-width: 183px;
  }
}
.filter__btn {
  font-weight: 700;
  line-height: 18px;
  padding: 16px 0;
}
.filter__btn--sub {
  cursor: pointer;
  font-weight: 700;
  line-height: 18px;
  color: #d22856;
  border-color: #d22856;
  margin-bottom: 12px;
}
.filter__btn--sub:hover {
  color: #ffffff;
  background-color: #d22856;
}
.filter__btn--sub:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #d22856;
}
@media (min-width: 650px) {
  .filter__btn--sub {
    margin-bottom: 23px;
  }
}
@media (min-width: 1200px) {
  .filter__btn--sub {
    margin-bottom: 0;
  }
}
.filter__btn--res:disabled {
  color: #283645;
  opacity: 0.1;
  border-color: #283645;
}
/*# sourceMappingURL=styles.css.map */
