@import "global/variables";

@import "global/fonts";

@import "global/global";

@import "blocks/page";

@import "blocks/page-header";

@import "blocks/main-nav";

@import "blocks/site-list";

@import "blocks/download";

@import "blocks/platform-list.scss";

@import "blocks/advantages.scss";